
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Century Gothic', sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #000000;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 10px solid #00ffff;
    height: auto;
}

.outline {
  color: #0d4850;
  text-shadow: -1px -1px 0 #00ffff, 1px -1px 0 #af0000, -1px 1px 0 #00ffff, 1px 1px 0 #0d4850;
  font-weight: bold;
}

/* Header styling */
header {
    background-color: #000a0a;
    color: rgb(255, 230, 218);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 6px solid #00ffff;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff;
    height: auto;
}

header h1 {
    font-size: 6em;
    font-family: "Copperplate Gothic Light", sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

header p {
    font-size: 1.1em;
}

/* Main heading */
h2 {
    font-family: "Copperplate Gothic Light", sans-serif;
    color: #2f0d3a;
    margin: 20px 0;
    font-size: 3em;
    text-align: center;
    border: 6px solid #00ffff;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff;
}

h3 {
    font-family: "Copperplate Gothic Light", sans-serif;
    color: #2f0d3a;
    margin: 20px 0;
    font-size: 2em;
    text-align: center;
}

/* Paragraph spacing */
p {
    font-size: 1.5em;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    color: #00ffff;
}

/* Footer styling */
footer {
    color: #00ffff;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

/* Links */
a {
    color: #00ffff;
    text-decoration: none;
    transition: color .8s;
}

/* Hover over link effect */
a:hover {
    color: #af0000;
    text-decoration: underline;
}

.grid-container {
  display: grid;
  gap: 20px; /* Space between grid items */
  grid-template-areas: 
    "item1 item3"
    "item2 item3"
    "item4 item6"
    "item5 item6"
    "item7 item9"
    "item8 item9"
    "item10 item12"
    "item11 item12";
    text-align: center;
}

/* Neon text effect */
.neonText {
    animation: flicker 2s infinite alternate;
    color: #fff;
    text-shadow:
        /* White glow */
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,

        /* Colored glow */
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa;
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Position relative so children with absolute positioning
     are positioned relative to the game area */
  .game-container {
    position: relative;
    display: inline-block; /* shrink-wrap to canvas width */
  }

  /* Top text positioned relative to .game-container */
  .top-text {
    position: absolute;
    top: -13%; /* Place text above canvas */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 1000;
    text-align: center;
    white-space: nowrap;
    margin: 0;
  }
  .top-text h3 {
    margin: 0;
    padding: 0;
  }
  .top-text a {
    color: white;
    text-decoration: none;
  }