body {
    background: black;
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
}

#restartBtn {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 380px));
    padding: 15px 40px;
    font-size: 24px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.5s;
}

#restartBtn:hover {
    background-color: #ffffff;
    color: #000000;
}

#playerImage, #backgroundImage, #enemyImage, #boneImage {
    display: none;
}